.home-container {
   display: grid;
   grid-template-columns: 3fr 1fr ;
   gap: 10px;
}

.t-shirts-container {
   margin-top: 30px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 15px;
}